{
  "publicAddress": "localhost",
  "listenPort": 9515,
  "privateKeyFile": "dist/key.pem",
  "publicKeyFile": "dist/crt.pem",
  "mongo": {
    "username": "root",
    "password": "example",
    "address": "localhost",
    "port": 27017
  },
  "majsoul": {
    "uid": "uid",
    "accessToken": "token"
  },
  "google": {
    "clientId": "getthisfromgoogle",
    "clientSecret": "getthisfromgoogle"
  },
  "riichiRoot":{
    "username": "example",
    "password": "password"
  }
}
