{
  "listenPort": 9515,
  "privateKeyFile": "dist/key.pem",
  "publicKeyFile": "dist/crt.pem",
  "mongo": {
    "username":"root",
    "password": "example"
  },
  "majsoul": {
    "uid": "uid",
    "accessToken": "token"
  },
  "riichiRoot":{
    "username": "example",
    "password": "password"
  }
}
